:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color: #18A0FB;
    --primary-white-color: #FFFFFF;
}
    
    body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);

    font-family: Montserrat, sans-serif;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: -0.015em;
}

/* Logo */
.logo {
    color: var(--title-text-color);

    font-family: Comfortaa, cursive;
    font-size: 28px;
    line-height: 1.14;
}

.logo:hover,
.logo:active,
.logo:focus {
color: var(--accent-color);
}

.list {
list-style: none;
}

/* Site nav */

.site-nav .link {
    color: var(--accent-color);

    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
}

.site-nav .link:hover,
.site-nav .link:focus {
color: var(--title-text-color);
}

/* Hero */
.hero-title {
    color: var(--title-text-color);

    font-weight: 400;
    font-size: 56px;
    line-height: 1.43;
    text-align: center;

}

/* Section */
.section-title {
color: var(--title-text-color);

font-weight: 400;
font-size: 48px;
line-height: 1.5;
text-align: center;

}

/* Features */
.feature-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;

}

/* .feature-list .link {
    color:  var(--accent-color);
} */

.feature.list .text {
    font-size: 18px;
    line-height: 1.67;

}
/* Examples */
.work-list .title {
    color: var(--title-text-color);
}

/* Button */
.button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);

    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
}

.button.primary {
    color: var(--primary-white-color);
background-color: var(--accent-color);

border-color: transparent;
}

.button.secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
    border-color: 
}