:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color: #18A0FB;
    --primary-white-color: #FFFFFF;
}
    
    body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}

.logo {
    color: var(--title-text-color);
}

.logo:hover,
.logo:active,
.logo:focus {
color: var(--accent-color);
}

.list {
list-style: none;
}

/* Site nav */

.site-nav .link {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
color: var(--title-text-color);
}

/* Hero */
.hero-title {
    color: var(--title-text-color);
}

/* Section */
.section-title {
color: var(--title-text-color);

}

/* Features */
.feature-list .title {
    color: var(--title-text-color);
}

/* .feature-list .link {
    color:  var(--accent-color);
} */

/* Examples */
.work-list .title {
    color: var(--title-text-color);
}

/* Button */
.button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
}

.button.primary {
    color: var(--primary-white-color);
background-color: var(--accent-color);
border-color: transparent;
}

.button.secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
    border-color: 
}




#F5F5F5;

